.row {
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.card {
    height: 100%;
}

.col-md-3 {
    height: 300px;
}

.footer {
    margin-top: auto;
    height: 50px;
    padding: 0;
    background-color: orange !important;
}