            .row {
                align-items: left;
                margin: 0px;
                padding: 0px;
            }
            
            .col {
                margin: 3px;
            }
            
            .navbar,
            .page-footer {
                color: #007bff;
                background-color: rgb(27, 1, 7)!important;
            }
            
            .card {
                height: 100%;
                width: 250px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
            .card-header {
                text-align: left;
            }
            
            .card-body {
                text-align: left !important;
            }
            
            @media only screen and (max-width:750px) {
                /* place here CSS for when the screen is less than 1000px wide */
                .content {
                    display: block;
                }
                .card {
                    width: 200px;
                }
                body {
                    height: 100vh;
                    background: rgb(27, 1, 7)!important;
                }
            }
            
            .header {
                height: 100vh;
            }
            
            .col-md-3,
            .col-md-2,
            .col-md-4 {
                text-align: center;
                height: 300px;
            }
            
            .col {
                height: 400px;
            }
            
            img {
                height: 100%
            }
            
            .footer {
                margin-top: auto;
                height: 50px;
                padding: 0;
                background-color: orange !important;
            }
            
            #howMany {
                height: 100%;
                width: 100%;
            }